################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DapperCrud/bin/Debug/net6.0
/.vs/DapperCrud/FileContentIndex
/DapperCrud/obj
